<div class="site-section" id="products-section">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-6 text-center">
          <h3 class="section-sub-title">Popular Products</h3>
          <h2 class="section-title mb-3">Our Products</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nostrum natus excepturi fuga ullam accusantium vel ut eveniet aut consequatur laboriosam ipsam.</p>
        </div>
      </div>
      <div class="row">
            
          <div class="col-md-10">
              <app-product-list></app-product-list>
          </div>
      
          <div class="col">
              <app-cart></app-cart>
          </div>
        
      </div>
    </div>
  </div>

  <app-featured-products></app-featured-products> 
  <app-notification></app-notification>